@import './theme.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-color);
}

.result-container {
  width: 100%;
  height: 4.5rem;
  background-color: var(--result-bg);
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--result-text);
}

.result-container .result {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
  font-size: xx-large;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 0.2rem 0;
  column-gap: 0.2rem;
}

button {
  height: 2.8rem;
  width: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 0.3rem;
  border: transparent;
}

.dropdown-toggle {
  width: 0;
}

.dropdown-menu {
  background-color: var(--dropdown-bg);
}

.dropdown-menu a {
  color: var(--dropdown-text)
}

.dropdown-menu a:hover {
  color: var(--dropdown-bg);
  background-color: var(--dropdown-text);
}